# Django and Web Server
Django==5.2
gunicorn
djangorestframework==3.16.0

# API Documentation (Swagger/OpenAPI)
drf-yasg==1.21.10

# Data Handling for the management command
pandas==2.2.3
numpy==1.25.0

# Core dependencies for the packages above
asgiref==3.8.1
pytz==2023.3
sqlparse==0.5.3
tzdata==2023.3
PyYAML==6.0
Jinja2==3.1.2
MarkupSafe==2.1.3
python-dateutil==2.8.2
six==1.16.0
uritemplate==4.1.1
inflection==0.5.1
requests==2.31.0
urllib3==1.26.16
certifi==2023.11.17
charset-normalizer==3.2.0
idna==3.10

psycopg2-binary
dj-database-url
whitenoise